.schuylkill-container {
  color: var(--white);
  padding: 4rem 0;
}

.schuylkill-container h1 {
  font-family: var(--main-font);
  margin: 1rem 2rem;
  font-size: 1.5rem;
}

.heading-section {
  border: 1px solid var(--white);
  margin: 0 2rem;
  padding: 2rem;
}

.heading-section p {
  line-height: 1.5rem;
  font-weight: 300;
}

.objective {
  font-family: var(--body-font);

  margin-bottom: 2rem;
}

.objective h2 {
  margin-bottom: 0.9rem;
  font-weight: 700;
}

.tools {
  font-family: var(--body-font);
}

.tools h2 {
  margin-bottom: 0.9rem;
  font-weight: 700;
}

img {
  width: 100%;
}

.image-section {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 2rem;
}

@media (max-width: 992px) {
  .image-section {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
