:root {
  --black: #000000;
  --white: #ffffff;
  --yellow: #f8f28c;
  --red: #f2406a;
  --blue: #33f1ff;
  --eerie: #1b1e22;

  --main-font: "Space Grotesk", sans-serif;
  --body-font: "Inter", sans-serif;
}
