.content-container {
  display: flex;
  flex-direction: column;
}

.project-title {
  text-align: center;
  margin: 1.5rem 0;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 500;
}

.video-container {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .video-container {
    width: 100%;
  }
}
