/* Global SECTION */

:root {
  --black: #000000;
  --white: #ffffff;
  --eerie: #1b1e22;
  --main-color: #f8f28c;

  --yellow: #f8f28c;
  --red: #f2406a;
  --blue: #33f1ff;

  --main-font: "Space Grotesk", sans-serif;
  --body-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: var(--eerie);
  /* overflow-y: hidden; */
}

.header-container {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin-inline: auto;
  border-bottom: 1px solid var(--main-color);
  background-color: var(--eerie);
}

.logo {
  width: 3.5rem;
  fill: var(--white);
  margin: 0.3rem 0.5rem;
  cursor: pointer;
}

.logo:hover {
  #q2 {
    fill: var(--main-color);
  }
}

.nav-container {
  display: flex;
}

nav a {
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 1.2rem;
}

nav a:hover {
  color: var(--main-color);
}

.main-container {
  padding: 3.5rem 0;
}

.content-container {
  /* border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color); */
  max-width: 1440px;
  max-height: 100%;
  margin: 0 auto;
  /* overflow-y: scroll; */
}

/* @media (max-height: 1200px) {
  .content-container {
    max-height: 86vh;
  }
}

@media (max-width: 992px) {
  .content-container {
    max-height: 84vh;
  }
}

@media (max-width: 768px) {
  .content-container {
    max-height: 80vh;
  }
} */

/* ::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
} */

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 1.5rem 0;
  margin-inline: auto;
  background-color: var(--eerie);
  border-top: 1px solid var(--main-color);
}

.btn-social {
  display: flex;
}

svg {
  display: block;
}

.icons {
  margin-left: 1rem;
}

.btn-social svg {
  width: 25px;
  height: 25px;
}

/* .btn-social a {
  padding: 0 0 0 1rem;
} */

.btn-social a:hover {
  .github {
    fill: var(--main-color);
  }

  .linkedin {
    fill: var(--main-color);
  }
}

.btn-colors {
  display: flex;
}

.btn-yellow {
  width: 1rem;
  height: 1rem;
  background-color: var(--yellow);
  cursor: pointer;
}

.btn-red {
  width: 1rem;
  height: 1rem;
  background-color: var(--red);
  margin: 0 1rem;
  cursor: pointer;
}

.btn-blue {
  width: 1rem;
  height: 1rem;
  background-color: var(--blue);
  margin-right: 1rem;
  cursor: pointer;
}
