/* MAIN SECTION */

.work-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 3rem;
}

.works {
  margin-left: 3rem;
  color: var(--white);
  grid-column: 1/5;
}

@media (max-width: 992px) {
  .work-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.works:first-child {
  margin-top: 3.5rem;
}

.works:last-child {
  margin-bottom: 3.5rem;
}

/* @media (max-height: 992px) {
  .works:last-child {
    margin-bottom: 60rem;
  }
} */

/* @media (max-height: 768px) {
  .works:last-child {
    margin-bottom: 9rem;
  }
} */

.works h1 {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 1.6rem;
}

.works a {
  color: var(--white);
  text-decoration: none;
}

.works h1:hover {
  color: var(--main-color);
}

.works span {
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 0.75rem;
}

.about-section {
  padding-top: 3rem;
  text-align: center;
  color: var(--white);
  font-family: var(--body-font);
}

.contact-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 88vh;
  /* overflow-y: hidden; */
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 9/13;
  margin: 1rem 0;
}

.contact h2 {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 2.5rem;
}

@media (max-width: 992px) {
  .contact-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .contact {
    grid-column: span 6;
  }
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.input {
  background-color: var(--eerie);
  font-family: var(--main-font);
  font-weight: 100;
  padding: 0.3rem;
  color: var(--white);
  outline: none;
  border: none;
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  width: 18rem;
}

.contact-input h3 {
  font-family: var(--main-font);
  font-weight: 100;
  color: var(--white);
  padding-bottom: 0.3rem;
}

.contact-message {
  height: 10rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 7.3rem;
  /* cursor: pointer; */
}

.btn-send {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--white);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#q3 {
  fill: var(--white);
}

@media (max-width: 992px) {
  #q3 {
    fill: var(--main-color);
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.5));
  }
}

/* #q3:hover {
  fill: var(--main-color);
} */

.btn-container:hover {
  #q3 {
    fill: var(--main-color);
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.5));
  }
}

.btn-svg {
  margin-right: 1rem;
}
