@import url(css/styles.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: var(--eerie);
}

/* ********
  HEADER    
******** */

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1440px;
  margin-inline: auto;
}

.logo {
  width: 3.5rem;
  fill: var(--white);
  margin: 0.3rem 0.5rem;
  cursor: pointer;
}

.logo:hover {
  #q2 {
    fill: var(--yellow);
  }
}

.nav-container {
  display: flex;
}

nav a {
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 1.2rem;
}

nav a:hover {
  color: var(--yellow);
}

.content-container {
  border: 1px solid var(--yellow);
  border-right: none;
  max-width: 1440px;
  height: 90vh;
  margin: 0 auto;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

.work-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.works {
  margin: 3rem 0 0 3rem;
  color: var(--white);
  grid-column: 1/5;
}

@media (max-width: 992px) {
  .work-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.works:last-child {
  margin-bottom: 3rem;
}

.works h1 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 1.5rem;
}

.works a {
  color: var(--white);
  text-decoration: none;
}

.works h1:hover {
  color: var(--yellow);
}

.works span {
  font-family: var(--body-font);
  font-weight: 200;
  font-size: 0.8rem;
}
